{#
/**
 * @file
 * Default theme implementation for a Project XML element.
 *
 * Available variables:
 * - source_language: The source language.
 * - target_languages: An array of target languages.
 * - item_path: An item path.
 * - content_corrections: An array or content corrections data keyed by field
 *   machine name.
 */
#}
<UpdateTMContent CT2SourceLanguageCode="{{ source_language }}" CT2TargetLanguageCode="{{ target_language }}" >
  <ContentCorrections ItemPath="{{ item_path }}">
  {% for field_name, content_correction in content_corrections %}
    <ContentCorrection FieldName="{{ field_name }}">
      <SourceContent>
        {{ content_correction.source_content|raw }}
      </SourceContent>
      <TargetContent>
        {{ content_correction.target_content|raw }}
      </TargetContent>
    </ContentCorrection>
  {% endfor %}
  </ContentCorrections>
</UpdateTMContent>
