{#
/**
 * @file
 * Default theme implementation for an authorize quote XML element.
 *
 * Available variables:
 * - quote: An array of the quote.
 * - service_id: The service ID.
 * - total_transactions: The total count of transactions.
 * - po_number: The PO number.
 * - project: An array of the project.
 * - source_language: The source language.
 * - target_language: The target language.
 */
#}
<Quote>
  <QuoteID>{{ quote.QuoteID }}</QuoteID>
  <CreationDate>{{ quote.CreationDate }}</CreationDate>
  <ServiceID>{{ service_id }}</ServiceID>
  <TotalTransactions>{{ total_transactions }}</TotalTransactions>
  <TranslationCredit>0</TranslationCredit>
  <TotalCost>{{ quote.TotalCost }}</TotalCost>
  <PrepaidCredit>{{ quote.PrepaidCredit }}</PrepaidCredit>
  <PurchaseOrderNumber>{{ po_number }}</PurchaseOrderNumber>
  <AmountDue>{{ quote.AmountDue }}</AmountDue>
  <Currency>{{ quote.Currency }}</Currency>
  <Projects>
    <Project>
      <QuoteID>{{ project.QuoteID }}</QuoteID>
      <ProjectID>{{ project.ProjectID }}</ProjectID>
      <ProjectName>{{ project.ProjectName }}</ProjectName>
      <ServiceID>{{ project.ServiceID }}</ServiceID>
      <SourceLanguage>
        <LanguageCode>{{ source_language }}</LanguageCode>
      </SourceLanguage>
      <TargetLanguages>
        <TargetLanguage>
          <LanguageCode>{{ target_language }}</LanguageCode>
        </TargetLanguage>
      </TargetLanguages>
      <Files>
        <File>
          <AssetID>{{ project.Files.File.AssetID }}</AssetID>
          <FileName>{{ project.Files.File.FileName }}</FileName>
        </File>
      </Files>
    </Project>
  </Projects>
  <SourceLanguage>
    <LanguageCode>{{ source_language }}</LanguageCode>
  </SourceLanguage>
  <TargetLanguages>
    <TargetLanguage>
      <LanguageCode>{{ target_language }}</LanguageCode>
    </TargetLanguage>
  </TargetLanguages>
</Quote>
