{#
/**
 * @file
 * Default theme implementation for a quote XML element.
 *
 * Available variables:
 * - currency: The currency.
 * - notification_url: The notification URL.
 * - project_id: The project ID.
 */
#}
<GenerateQuote>
  <TranslationOptions>
    <Currency>{{ currency }}</Currency>
  </TranslationOptions>
  <Projects>
    <Project>
      <ProjectID>{{ project_id }}</ProjectID>
    </Project>
  </Projects>
  <NotificationSubscriptions>
    <NotificationSubscription>
      <EventName>project-complete</EventName>
      <Endpoint>{{ notification_url }}</Endpoint>
    </NotificationSubscription>
  </NotificationSubscriptions>
</GenerateQuote>
