{#
/**
 * @file
 * Default theme implementation for a Project XML element.
 *
 * Available variables:
 * - project_title: The project title.
 * - service_id: The service ID.
 * - source_language: The source language.
 * - target_languages: An array of target languages.
 * - files: An array of files to add in the project.
 */
#}
<AddProject>
  <ProjectName>{{ project_title }}</ProjectName>
  <TranslationOptions>
    <ServiceID>{{ service_id }}</ServiceID>
    <SourceLanguage>
      <LanguageCode>{{ source_language }}</LanguageCode>
    </SourceLanguage>
    <TargetLanguages>
      {% for language in target_languages %}
        <TargetLanguage>
          <LanguageCode>{{ language }}</LanguageCode>
        </TargetLanguage>
      {% endfor %}
    </TargetLanguages>
  </TranslationOptions>
  <Files>
    {% for file in files %}
      <File>
        <AssetID>{{ file }}</AssetID>
      </File>
    {% endfor %}
  </Files>
</AddProject>
